<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap-3.3-3.5-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="paperjs-v0/dist/paper-full.min.js"></script>
    <script type="text/paperscript" canvas="myCanvas">
        var myPath = new Path();
        myPath.strokeWidth = 5;
        myPath.strokeColor = 'black';
        myPath.add(new Point(100, 70), new Point(150, 70));
        myPath.add(new Point(150, 20), new Point(400, 20));
        myPath.add(new Point(400, 70), new Point(450, 70));
        myPath.add(new Point(450, 400), new Point(430, 400));
        myPath.add(new Point(430, 450), new Point(450, 450));
        myPath.add(new Point(450, 500), new Point(400, 500));
        myPath.add(new Point(400, 550), new Point(150, 550));
        myPath.add(new Point(150, 500), new Point(100, 500));
        myPath.closed = true;

        var beacon1 = new Path.Circle(new Point(150, 500), 15);
        beacon1.strokeColor = 'red';
        beacon1.fillColor = 'red';

        var beacon2 = new Path.Circle(new Point(400, 500), 15);
        beacon2.strokeColor = 'red';
        beacon2.fillColor = 'red';

        var beacon3 = new Path.Circle(new Point(400, 70), 15);
        beacon3.strokeColor = 'red';
        beacon3.fillColor = 'red';

        var beacon4 = new Path.Circle(new Point(100, 140), 15);
        beacon4.strokeColor = 'red';
        beacon4.fillColor = 'red';
    </script>

    <script type="text/paperscript" canvas="exBeacon">
        var beacon = new Path.Circle(new Point(30, 20), 15);
        beacon.strokeColor = 'red';
        beacon.fillColor = 'red';
        var target = new Shape.Rectangle(new Point(100, 5), new Size(30, 30));
        target.strokeColor = 'blue';
        target.fillColor = 'blue';
    </script>

    <script type="text/paperscript" canvas="exTarget">
        var beacon = new Path.Circle(new Point(0, 0), 15);
        beacon.strokeColor = 'red';
        beacon.fillColor = 'red';



    </script>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-push-5">
        <h2><%= title %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-push-3">
        <canvas id="myCanvas" resize></canvas>
      </div>
      <div class="col-lg-5 col-lg-push-5">
        <h3>Current Position</h3>
        <h4>x: </h4>
        <h4>y: </h4>
        <br><br><br><br>
        <h3>Examples</h3>
          <div class="row">
              <label class="col-lg-2">Beacon</label>
              <label class="col-lg-2">Target Arduino</label>
          </div>
          <div class="row">
            <canvas id="exBeacon" resize class="col-lg-4"></canvas>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
